footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 20px;
    margin-top: 70px;
    margin-bottom: 20px;
}

footer span {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    color: #000000;
    font-size: 1.2em;
}