.cover {
    transition: 1s;
    display: flex;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    right: 0;
    justify-content: center;
    align-items: center;
}

#academy .cover {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: rotate(0deg);
    background-color: #fff;
}

.img {

    max-width: 125px;
}


#qa .cover {
    background-color: #70BC7E;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 5em;
}

#js .cover {
    background-color: #F1D079;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: black;
    font-size: 6em;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 10px;

}

#java>.cover {
    background-color: #CF3E50;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    bottom: 0;
    color: white;
    font-size: 2em;
}


#php>.cover {
    background-color: #8A93BC;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 400;
    right: 0;
    top: 0;
    color: black;
    font-size: 5em;
}


#net>.cover {
    background-color: #5C2773;
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    font-size: 6em;
    color: white;
    bottom: 0;

}

#events>.cover {
    background-color: #4D99F7;
}

#blog>.cover {
    background-color: #18449D;
}

#contacts>.cover {
    background-color: #09265B;
}

#events>.cover,
#blog>.cover,
#contacts>.cover {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 1em;
}