.content {
    overflow: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    background: white;
    color: #363636;
    font-family: "Arial";
    font-weight: bold;
    font-size: 1em;
    z-index: 1;
}

.content p {
    margin: 0;
    text-align: left;
    padding: 0.5em;
}

.content ul {
    text-align: left;
    color: #00B9FF;
}

.content span {
    color: #363636;
}

.content hr {
    margin-top: -0.3em;
    background-color: #00B9FF;
    border: none;
    border-radius: 3px;
    height: 0.3em;
    width: 150px;
}

#contacts .social-container,
#academy .content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {

    box-sizing: border-box;
    min-width: 25px;
    text-decoration: none;
    background: #00b9ff;
    border: none;
    color: #fff;
    padding: .7em 1.7em;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 400;
    font-size: 1.2em;
}

.btn:hover {
    background: #11429e;
}

.social-container a {
    text-decoration: none;
}

.social {
    fill: #000000;
    height: 30px;
    width: 30px;
    margin: 3px;
}

.social:hover {
    fill: #1B76D3;
}