#academy:hover .flip,
#qa:hover .flip,
#js:hover .flip {
    transform: rotateY(180deg);
}

.flip_container {
    perspective: 1000px;
    background-color: transparent;
}

.flip {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip_cover,
.flip_content {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.flip_cover {
    transform: rotateY(0deg);
}

.flip_content {
    transform: rotateY(180deg);
}


#java:hover .cover {
    bottom: -100%;
}

#php:hover .cover {
    right: -100%;
    top: -100%;
}

#net:hover .cover {
    bottom: -100%;
    right: -100%;
}

#events:hover .cover,
#blog:hover .cover,
#contacts:hover .cover {
    right: -100%;
}