main {
    margin: 30px auto;
    position: relative;
    display: grid;
    flex-grow: 3;
    width: 80%;
    min-height: calc(100vh - 190px);
    max-height: calc(100vh - 110px);
}

#academy {
    grid-area: academy;
}

#qa {
    grid-area: qa;
}

#js {
    grid-area: js;
}

#java {
    grid-area: java;
}

#php {
    grid-area: php;
}

#net {
    grid-area: net;
}

#events {
    grid-area: events;
}

#blog {
    grid-area: blog;
}

#contacts {
    grid-area: contacts;
}

.card {
    position: relative;
    overflow: hidden;
}

@media screen and (min-width: 1000px) {
    main {
        grid-template-areas:
            "academy js php php"
            "academy js net events"
            "qa js net events"
            "qa java net blog "
            "qa java net blog"
            "qa java net contacts";
        grid-template-columns: 25% 25% 30% 20%;
        grid-template-rows: 37.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
    }
}

@media screen and (max-width: 999px) {
    main {
        grid-template-areas:
            "academy js js events"
            "academy js js blog"
            "academy js js contacts"
            "java java php php "
            "qa qa net net";
        grid-template-columns: 45% 5% 30% 20%;
        grid-template-rows: 20% 20% 10% 24% 26%;

    }
}