header {
    overflow: hidden;
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    animation: show 1s 1 duration timing-function delay iteration-count direction fill-mode;
    -webkit-animation: show 1s 1;

}

@-webkit-keyframes show {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes show {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0px);
    }
}


#main-menu {
    margin: 0 auto;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
}

#logo {

    margin: 10px 10%;
    position: relative;
    max-width: 100px;
    width: 100%;
    height: 30px;
    display: block;
    ;
}

#user-container {
    overflow: hidden;
    display: flex;
    margin: 10px 10%;
    min-width: 80px;
    overflow: auto;
    justify-content: space-between;
}

.bell {
    align-self: center;
    width: 1em;
    height: 1em;
    fill: #C0C9D8;
    cursor: pointer;
}

.bell:hover {
    fill: #A3ABB7;
}

.menu-container,
.user_icon,
.trigger {
    margin: 0;
    width: 30px;
    height: 30px;
    border: 0px;
    border-radius: 50%;
    cursor: pointer;

}

.user_icon {
    position: absolute;
    overflow: hidden;
    background: #EB9D3F;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}

.trigger {
    margin: 0;
    position: absolute;
    right: 10%;
    opacity: 0;
}

.menu-container:hover .user_icon {
    background: #f88c07;
}


.letter {
    text-align: center;
    font-family: Arial;
    color: #fff;
    font-weight: 400;
    font-size: 1.2em;
    display: block;
}

.trigger:checked~.menu {
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu {
    display: none;
    position: fixed;
    box-shadow: 0 0 1px #F4F5F7;
    top: 45px;
    width: 200px;
    height: auto;
    right: 10%;
    background: #ffffff;
    ;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
}

.menu ul {

    text-align: left;
    margin-left: 0;
    padding-left: 0;
    margin-block-start: 10px;
    margin-block-end: 10px;
}

.menu li {
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: none;

}

.menu span {
    cursor: default;
    width: 80%;
    margin-top: 10px;
    text-align: center;
    font-family: Arial;
    font-weight: normal;
    font-size: 1em;
    color: #C0C9D8;
}

.menu hr {
    text-align: center;
    margin: 3px;
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: #C0C9D8;
    height: 2px;

}

.menu a {
    font-family: Arial;
    color: #000000;
    font-weight: bold;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
}

.menu li:hover {
    background-color: #e4e5e67e;
}