.notification {
    overflow: hidden;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-content: center;
    z-index: 100;
}

.notification-block {
    display: flex;
    width: 215px;
    margin-bottom: 10px;
    margin-right: 10px;
    opacity: 0.8;
    padding: 10px 0;
    align-self: center;
    border-radius: 3px;
    font-family: Arial;
    font-size: 1em;
    color: #ffffff;
}

.notification-block h {
    font-weight: bold;
}

.notification-block p {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.notification-icon {
    justify-self: start;
    align-self: center;
    fill: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
    min-width: 20px;
    min-height: 20px;
}

.error {
    background-color: #C3534E;
}

.success {
    background-color: #6BAB69;
}

.warning {
    background-color: #FAA045;
    position: relative;

}

.hidden {
    display: none;
}