* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: #f8f9fc;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    /* height: 1%; */
    background-color: #666;
    border-radius: 5px;
}

::-webkit-scrollbar-corner {
    background-color: #ffff;
}